<?xml version="1.0"?>
<launch>
  <arg name="modelfile" default="$(find bimanual_robot_project_mujoco)/franka_emika_panda/scene.xml" />
  <arg name="mujoco_plugin_config" default="$(find bimanual_robot_project_mujoco)/config/ros_control_plugins.yaml" />
  <arg name="verbose" default="false" />

  <param name="robot_description"
         command="$(find xacro)/xacro $(find bimanual_robot_project_mujoco)/urdf/bimanual_panda.urdf.xacro" />

  <rosparam file="$(arg mujoco_plugin_config)" command="load" />
  <rosparam file="$(find left_panda_bottle_pose_controller)/config/controller.yaml" command="load" ns="left" />
  <group ns="left">
    <param name="arm_id" value="left" />
    <param name="m_ee" value="0.73" />
    <param name="I_ee" value="0.001 0 0 0 0.0025 0 0 0 0.0017" />
    <param name="F_x_Cee" value="-0.01 0 0.03" />
  </group>
  <group ns="right">
    <param name="arm_id" value="right" />
    <param name="m_ee" value="0.73" />
    <param name="I_ee" value="0.001 0 0 0 0.0025 0 0 0 0.0017" />
    <param name="F_x_Cee" value="-0.01 0 0.03" />
  </group>

  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${logger}] [${node}]: ${message}"/>
  <env if="$(arg verbose)" name="ROSCONSOLE_CONFIG_FILE"
       value="$(find mujoco_ros)/config/rosconsole.config"/>

  <include file="$(find mujoco_ros)/launch/launch_server.launch" pass_all_args="true">
    <arg name="use_sim_time" value="true" />
  </include>

</launch>